<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Equipment management</h1>
      <p class="lead">The application is used to manage all equipment of company. Equipment may have type (PC/Laptop),
        name, ID, status and description. Equipment may be assigned to one or no employee. The application should have
        ability to add, edit, remove and view equipment. It can list out all equipment which is assigned to an
        employee..</p>
    </div>
  </div>
  <div class="row" *ngIf="flag">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>