<app-navigation></app-navigation>
<div class="container-fluid">
  <div class="row row d-flex justify-content-center">
    <div class="col col-lg-4">
      <app-user-action (isF5Table)="F5Table($event)" [formGroup]="formGroup" [action]="action">
      </app-user-action>
    </div>
    <div class="col col-lg-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of users | slice:begin:end; index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{item.username}}</td>
            <td>xxxxxxxxxxxx</td>
            <td>
              <!-- <button type="button" class="btn btn-primary bt-action" (click)="onView(item)">
                <i class="fa fa-eye"></i></button> -->

              <button type="button" class="btn btn-warning bt-action" (click)="onEdit(item)">
                <i class=" fa fa-edit"></i></button>
              <button type="button" class="btn btn-danger bt-action" (click)="onDelete(item)">
                <i class=" fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <div class="form-group">
            <select class="form-control page-size-dropdown" (change)="onClickPageSize()" [(ngModel)]="pageSize">
              <option *ngFor="let status of PageSizeDropdown" value="{{status.value}}">{{status.label}}</option>
            </select>
          </div>
          <li class="page-item" *ngFor="let item of pageItem" (click)="onClickPageItem(item)">
            <a class="page-link">{{item + 1}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
